.list-wrapper{
    padding: 2rem 5rem;
}
.item{
    padding: 0.5rem 1rem;
    border-bottom: #fde6b8 1px solid;
    display: flex;
    
}
.item:hover{
    background-color: #fde6b8 ;
    opacity: 0.8;
    cursor: pointer;
}

.img-item,
.byke-placeholder {
    width: 4rem;
    height: 4rem;
}

.byke-placeholder{
    opacity: 0.5;
}
.theft-details,
.item-details{
    display: flex;
    flex-direction: column;
    margin-left: 1rem;
    justify-content: center;
}
.item-details{
    flex: 2.5
}
.theft-details{
   flex: 1 
}
.title{
    font-size: 0.8rem;
    font-weight: 500
}
.description{
    font-size: 0.7rem;
    font-weight: 100;
}
.date{
    font-weight: 100;
    font-size: 0.7rem;
}

.location{
    height: 1rem;
    opacity: 0.5;
    margin-right: 0.1rem
}
.date-icon{
    height: 0.8rem;
    opacity: 0.9;
    margin-right: 0.3rem;
}

.paging{
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: #5f5f5f;
    font-size: 0.8rem;
}
.arrow{
    opacity: 0.7;
    height: 1rem;
    width: 1rem;
    padding: 0.5rem;
    margin: 0 0.4rem;
}
.arrow:hover{
    cursor: pointer;
    border-radius: 50%;
    background-color: #ffd47c;
}
.table-header{
    display: flex;
    justify-content: space-between;
    align-items: center;
    margin: 2rem 0;
}
.search {
    width: 2rem;
    height: 2rem;
}
.search:hover{
    opacity: 0.5;
    border-radius: 50%;
    border: black 1px solid
}
.filter{
    display: flex;
    align-items: flex-end;
}
.error .no-items{
    font-size: 2rem;
   
    font-weight: 600;
}
.error{
    color: red;
}
.no-items{
    color: #ffd47c;
}