.header {
  display: flex;
  background-color: #ffd47c;
  padding: 1rem;
}
.police-logo {
  width: 8rem;
  height: 8rem;
}
.police-title{
  flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
    padding: 1rem 3rem;
}
.first-sub-title{
  font-size: 2rem;
    font-weight: bold;
    margin-bottom: 0.5rem;
}
.second-sub-title{
  font-size: 1.5rem;
}